.about {
    text-align: center;
}

.about > h2 {
    font-size: 3em;
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 40px;
}

.about > h2:before, h2:after {
    content: '';
    border-top: 2px solid;
}

.about > h3 {
    font-size: 2em;
    font-weight: 400;
}